<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Template for Login with Social Networks Google and Facebook">
    <meta name="keywords" content="Facebook,Google,Login,Oauth2,Oauth Authorization,Social Login">
    <meta name="author" content="Thalyson Alexandre Rodrigues de Sousa">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %} - My Application</title>
    <link rel="stylesheet" href="{{ asset('build/css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('build/css/materialize.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('build/icons/font-awesome.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('build/icons/materialize.css') }}" type="text/css">
    {% block stylesheets %}{% endblock %}
  </head>
  <body class="app">
    <div class="app-content">
      <main class="container">
        {% block content %}{% endblock %}
      </main>
    </div>
    <script src="{{ asset('build/js/app.js') }}"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
